#dog:checked + label {
  background-color: var(--pink);
}
#cat:checked + label {
  background-color: var(--pink);
}
#bird:checked + label {
  background-color: var(--pink);
}
#other:checked + label {
  background-color: var(--pink);
}
